body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
/* Logo */

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    margin-right: 76px;
}

.logo-span {
    color: #2E2F42;
}

/* /Logo */

/* Navigation */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    border-bottom: 1px solid #E7E9FC;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.nav-elements {
    display: flex;
    gap: 40px;
}

.nav-container .link {
    padding: 24px 0;
}

.nav-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link {
    display: block;
    padding: 24px 0;
}

.nav-item .link:hover,
.nav-item .link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* /Navigation */
/* ///HEADER */

/* Hero - Section */

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;

    padding: 16px 32px;
    display: block;
    margin: 0 auto 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF
}

/* /Hero - Section  */

/* Content */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-title {
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.third-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.content {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Benefits */

.benefits-list {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.benefits-list-item {
    max-width: 264px;
}

/* ////Benefits */

/* TEAM */

.team {
    background-color: #F4F4FD;
}

.team-name {
    color: #2E2F42;
}

.team-content {
    padding: 32px 0;
    text-align: center;
    background-color: #ffffff;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team-list-item {
    max-width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
}

/* ////TEAM */

/* PORTFOLIO */

.portfolio-list {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-list-item {
    max-width: calc((100% - 48px) / 3);
}

.portfolio-content {
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}


/* ////PORTFOLIO */

/* ///Content */

/* Footer */

.page-footer {
    background-color: #2e2f42;
}

.page-footer-logo {
    display: block;
    margin-bottom: 16px;
    display: inline-block
}

.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-footer .logo-span {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    max-width: 264px;
}